.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

#subscriber {
  width: 100px;
  border: 5px solid red;
  margin: 10px;
}
#publisher {
  width: 100px;
  border: 5px solid rgb(31, 30, 30);
  margin: 10px;
}
