.container {
  margin: 10% auto;
  background-color: rgba(0, 0, 0, 0.412);
  border-radius: 15px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

#subscriber {
  max-width: 800px;
  margin: 10px;
}
#publisher {
  max-width: 800px;
  margin: 10px;
  border-radius: 10px;
}

#videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.button {
  width: 150px;
  height: 40px;
  margin: 20px;
  border: none;
  background-color: #f90053;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: #f90053e0;
}
.leave {
  width: 150px;
  height: 40px;
  margin: 20px;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background-color: #ff9400;
  color: white;
  cursor: pointer;
}
.leave:hover {
  background-color: #ff9500e0;
}
.actions {
  display: flex;
  flex-direction: row;
}
